
<div class="modal fade  " style="margin: 10%;" id="mdl-vista_vinna" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog disenno-modal">
      <div class="">

        <div class="">
        <img style="width: -webkit-fill-available;
        border-radius: 0px 73px 0px 0px;"
        src="https://st.depositphotos.com/1000423/60623/i/600/depositphotos_606236826-stock-photo-nanotechnology-molecule-and-atom-model.jpg" alt="">
        </div>

        <div style="    background: #A4BA49 0% 0% no-repeat padding-box;
        height: 25px;
        /* text-align: -webkit-center; */
        /* margin: 4px; */
        padding: 1px;
        padding-left: 20px;">
            <h6 style="color: #FFFFFF;">texto simulado</h6>
        </div>

        <div class="" style="    padding: 13px;">
          
          <div> <strong style="font-size: 19px;" id="titulo-vinna-mdl" >Viña de la region metropolitana</strong> </div>
          <div><p style="font-size: 12px;">Lorem ipsum dolor sit amet consectetur,  nulla sit explicabo numquam veniam ut quam! Inventore eos explicabo impedit, sapiente similique nisi eius!</p></div>
        </div>

      </div>
    </div>
  </div>
  