
<div style="z-index: 8000;" class="modal fade  " id="mdl-vista_vinna" tabindex="-1" aria-labelledby="exampleModalLabel" >
    <div class="modal-dialog disenno-modal  modal-dialog-scrollable "  style="width: 50% !important; ">
      <button style="float: left;" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="">
        <div id="contenedor_img_vinna" class="">
        
        </div>

        <div style="    background: #A4BA49 0% 0% no-repeat padding-box;
        height: 25px;
        padding: 1px;
        padding-left: 20px;">
            <h6 style="color: #FFFFFF;" id="titulo_superior"></h6>
        </div>

        <div class="" style="    padding: 13px;">     
            
          <div> <strong style="font-size: 19px;" id="titulo-vinna-mdl" ></strong> </div>
          <div><p id="descripcion_vinna" style="font-size: 12px;"></p></div>
          <div id="contenedor_logos">           
          </div>
        </div>
      </div>
      <a href="http://127.0.0.1:8000/vinna_emergente/">LINK</a>  
    </div>
  </div>


  <!-- <div class="modal fade" id="mdl-vista_vinna" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  
  -->